<a href="https://colab.research.google.com/github/chikengoku/challege-hiden-friend-/blob/main/pythonworkalura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
base_de_datos = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/formacao-data-science/master/movies.csv')
print('hello+ree olcoc')

hello+ree olcoc

In [ ]:
id(5)

11654504

In [ ]:
m
myinventions={}
myinventions['bulllights']=[ 'kitchencon','wheellight','antradio','linuxlive']
myinventions['time']=['3','4','3','5']

print(myinventions)
ope=myinventions.keys()
print(ope)
print(myinventions.items())

for values in myinventions.values():
  print(values)
for keys in myinventions.keys():
  print(keys)
for values,keys in myinventions.items():
  print(f'values are {values}')
  for key in keys:
    print(key)

dir(dict)

{'bulllights': ['kitchencon', 'wheellight', 'antradio', 'linuxlive'], 'time': ['3', '4', '3', '5']}
dict_keys(['bulllights', 'time'])
dict_items([('bulllights', ['kitchencon', 'wheellight', 'antradio', 'linuxlive']), ('time', ['3', '4', '3', '5'])])
['kitchencon', 'wheellight', 'antradio', 'linuxlive']
['3', '4', '3', '5']
bulllights
time
values are bulllights
kitchencon
wheellight
antradio
linuxlive
values are time
3
4
3
5

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
list(range(3))
names=input('write your name')

for a in names:
  print(a)

In [ ]:
'''- Print your date of birth in the format day month year.
Remember that the values for day and year should not be in quotes. Assuming
 birthday on February 28, 2003, the format should be as follows:'''

questions=[' day ', ' month ', ' year ']
data=[]
for a in questions:
  #data.append(a)
  click=input('write the' + a +  'of your birthday')
  data.append(click)

print(data)
#finaldata=int(data[0]) + data[1] + int(data[2])
finaldata=f"{int(data[0])} {data[1]} {int(data[2])}"
print(finaldata)

write the day of your birthday4
write the month of your birthdayjuly
write the year of your birthday7896
['4', 'july', '7896']
4 july 7896

*loca*
[link de putas ](https://mail.google.com/mail/u/0/#inbox)
#the title
##the corpo is more littele this is more beautiful
* MARKDOWN
* MORE THING  
* TLESS THING

Print, in a single print statement, the current year in which you are taking this course. The value of the year must be a numeric value, and the print output should be as follows:

In [ ]:
valueyear=input('year of taking the course')
print(f'Año actual:[{valueyear}]')

year of taking the course789
Año actual:[789]

Create a code that asks the user for a sentence and then prints the same sentence with all the vowels "e" replaced by the letter "f".

In [ ]:
frase=input('enter a frase')
#if 'e ' is in frase:
newfrase=frase.replace('e','f')
print(frase)
print(newfrase)

KeyboardInterrupt: Interrupted by user

ChatGPT said:12 - A gas station is selling fuels with variable discounts. For ethanol, if the amount purchased is up to 15 liters, the discount will be 2% per liter. Otherwise, it will be 4% per liter. For diesel, if the amount purchased is up to 15 liters, the discount will be 3% per liter. Otherwise, it will be 5% per liter. The price per liter of diesel is R$ 2.00, and the price per liter of ethanol is R$ 1.70. Write a program that reads the number of liters sold and the type of fuel (E for ethanol and D for diesel) and calculates the amount the customer must pay. Keep in mind the following suggestions:


The discount amount will be the product of the price per liter, the number of liters, and the discount rate.


The amount to be paid by the customer will be the result of multiplying the price per liter by the number of liters, minus the discount calculated.

In [ ]:
liters=int(input('numbers of liters sold'))
fuel=input('fuly type')

if fuel =='E' and liters>15:
  pay=(1.666)*liters
else:
  pay= 1.632*liters
print(f'the final price of {liters} of {fuel} is  {pay}')


if fuel =='D' and liters>15:
  pay=(1.666)*liters
else:
  pay= 1.632*liters
print(f'the final price of {liters} of {fuel} is  {pay}')

#final price

numbers of liters sold5
fuly typeE
the final price of 5 of E is  8.16

13 - In a real estate company, you must create a code that analyzes annual sales data to help management make decisions. The code should collect the sales quantity data for the years 2022 and 2023 and calculate the percentage variation. Based on the variation value, the following suggestions should be provided:

For a variation greater than 20%: bonus for the sales team.

For a variation between 2% and 20%: small bonus for the sales team.

For a variation between 2% and -10%: planning of sales incentive policies.

For variations below -10%: expense cuts.

If you need help, solution options for the activities will be available in the

In an election for the management position of a company with 20 employees, there are four candidates. Write a program that determines the winner of the election. The voting was conducted as follows:

Each employee voted for one of the four candidates (represented by the numbers 1, 2, 3, and 4).

Null votes (represented by the number 5) and blank votes (represented by the number 6) were also counted.

At the end of the voting, the program must display the total number of votes for each candidate, as well as the number of null and blank votes. In addition, it must calculate and display the percentage of null votes in relation to the total number of votes and the percentage of blank votes in relation to the total number of votes.

In [ ]:
entries=[]
list1=[]
list2=[]
list3=[]
list4=[]
listnull=[]
listblnak=[]



for a in range(21):
  vote=int(input('enter your vote: 1,2,3,4, blank :6, '))
  entries.append(vote)


  if vote==1:
    list1.append(vote)
  elif vote==2:
    list2.append(vote)
  elif vote==3:
      list3.append(vote)
  elif vote==4:
    list4.append(vote)
  elif vote==6:
    listnull.append(vote)
  else:
    listblnak.append(vote)

  #calculate the numbers of votes
print(f'{len(list1)} for 1,{len(list2)} for 2,{len(list3)} for 3, {len(list4)} for 4, {len(listnull)} for null votes,{len(listblnak)} for blank votes2')

enter your vote: 1,2,3,4, blank :6, 4
enter your vote: 1,2,3,4, blank :6, 5
enter your vote: 1,2,3,4, blank :6, 7
enter your vote: 1,2,3,4, blank :6, 8
enter your vote: 1,2,3,4, blank :6, 5
enter your vote: 1,2,3,4, blank :6, 2
enter your vote: 1,2,3,4, blank :6, 1
enter your vote: 1,2,3,4, blank :6, 2
enter your vote: 1,2,3,4, blank :6, 3
enter your vote: 1,2,3,4, blank :6, 6
enter your vote: 1,2,3,4, blank :6, 9
enter your vote: 1,2,3,4, blank :6, 8
enter your vote: 1,2,3,4, blank :6, 5
enter your vote: 1,2,3,4, blank :6, 4
enter your vote: 1,2,3,4, blank :6, 1
enter your vote: 1,2,3,4, blank :6, 2
enter your vote: 1,2,3,4, blank :6, 7
enter your vote: 1,2,3,4, blank :6, 8
enter your vote: 1,2,3,4, blank :6, 5
enter your vote: 1,2,3,4, blank :6, 2
enter your vote: 1,2,3,4, blank :6, 35
2 for 1,4 for 2,1 for 3, 2 for 4, 1 for null votes,11 for blank votes2

In [ ]:
#itesdfs=[1,4,5,4,2,1,5,4,5,5,4,4]
#print(len(itesdfs))
#print(list(range(20)))
##ote=int(input('enter your vote: 1,2,3,4, blank :6, '))

#while a!=''
#sum(7,8)
bacterpopu= [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

TypeError: 'int' object is not iterable

Create a program that contains the following list with a paper company's expenses:
[2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08].
Using these values, create a program that calculates the average expense.
Hint: use the built-in functions sum() and len()

In [ ]:
#!pip install random
import random as rd
paperexpences= [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
averageexpen= sum(paperexpences)/len(paperexpences)
print(averageexpen)
#help(random)
rd.randint(8,59)

3144.222

44

- Create a code that collects 5 random integers in a list and prints the list.
Example: [1, 4, 7, 2, 4].

In [ ]:
i=0
Rlist=[]
while i<6:
  i=i+1
  Snumber=rd.randint(0,100)
  Rlist.append(Snumber)

print(Rlist)

[19, 93, 3, 94, 38, 16]



For a study on bacterial multiplication in a colony, the number of bacteria multiplied per day was collected and is shown below: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9].

Using these values, create a code that generates a list containing the percentage of bacterial growth per day, comparing the number of bacteria each day with the number from the previous day.

In [ ]:
#first try
bacterpopu= [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
percegrowd=[]
for a in bacterpopu:
  if a<=len(bacterpopu):
    perten=(((a+1)-a)/a)*100
    percegrowd.append(perten)
    print(a)
    print(a+1)
    print(perten)
print(percegrowd)


for a in range(len(bacterpopu)):
  if a<=len(bacterpopu)-1:

  #print(bacterpopu[a])
    print(bacterpopu[a+1])

1.2
2.2
83.33333333333336
2.1
3.1
47.61904761904761
3.3
4.3
30.303030303030305
5.0
6.0
20.0
7.8
8.8
12.820512820512834
[83.33333333333336, 47.61904761904761, 30.303030303030305, 20.0, 12.820512820512834]
2.1
3.3
5.0
7.8
11.3
16.6
25.1
37.8
56.9

IndexError: list index out of range

code solved

In [ ]:
print(len(bacterpopu)-1)
#for a in bacterpopu:
#  print(a)
for a in range(len(bacterpopu)-1):
  perten=float(((bacterpopu[a+1]-bacterpopu[a])/bacterpopu[a])*100)
  perten2=round(perten,2)
  percegrowd.append(perten2)
print(percegrowd)

#  print(bacterpopu[a+1])

9
[83.33333333333336, 47.61904761904761, 30.303030303030305, 20.0, 12.820512820512834, 75.0, 57.14, 51.52, 56.0, 44.87, 46.9, 51.2, 50.6, 50.53]

8 - For a selection of food products, we must separate the provided set of IDs by integers, knowing that products with an even ID are sweet and those with an odd ID are bitter. Create code that collects 10 IDs. Then, calculate and display the number of sweet and bitter products.

In [ ]:
from numpy import number
for a in range(10):
  numberss=rd.randint(1000000000,9999999999)
  reci=numberss%2
  print(reci)

  print(numberss)

0
5631870956
0
2992692560
0
7502456944
0
6734131584
0
9127416542
0
2410640088
1
6662459271
0
7971438548
0
7610186186
0
8542410124

9 - Develop a program that reports a student's score according to their answers. It should ask the student for the answer to each question and check if the answer matches the correct result. Each question is worth one point, and the options are A, B, C, or D.

Exam results:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B

In [ ]:

trueAns=['D','A','C','B','A','D','C','C','A','B']
listAns = ['A', 'B', 'C', 'D']
AnsEst = []
#CLEANING THE SOLUTIONS
for a in range(1, 11):
    while True:
      EstNote = input('write A, B, C, D note: ').upper()
      if EstNote in listAns:
        AnsEst.append(EstNote)
        break  # valid input → exit while loop
      else:
        print('Invalid answer. Just A, B, C, or D.')

print(AnsEst)
#COUNTING THE POINTS
points=0
for i,j in zip(trueAns,AnsEst):
  if i==j:
    points=points+1
  else:
    continue
  #print(i,j)
print(trueAns)
print(f'the correc answers  {points} ')

write A, B, C, D note: a
write A, B, C, D note: d
write A, B, C, D note: s
Invalid answer. Just A, B, C, or D.
write A, B, C, D note: d
write A, B, C, D note: a
write A, B, C, D note: c
write A, B, C, D note: d
write A, B, C, D note: c
write A, B, C, D note: a
write A, B, C, D note: c
write A, B, C, D note: a
['A', 'D', 'D', 'A', 'C', 'D', 'C', 'A', 'C', 'A']
['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
the correc answers  2

In [ ]:
ansy=[]
for a in range(1,11):
  answers=input(f'write your answer of question {a} ' ).upper()
  #check answers
  #answers.upper()
  #answers.split() this make list?
  if answers is not ['A','B','C','D']:
    print('abcd fucker')
  ansy.append(answers)

print(ansy)

write your answer of question 1 i
abcd fucker
write your answer of question 2 i
abcd fucker
write your answer of question 3
abcd fucker
write your answer of question 4 i
abcd fucker
write your answer of question 5 i
abcd fucker
write your answer of question 6
abcd fucker
write your answer of question 7
abcd fucker
write your answer of question 8
abcd fucker
write your answer of question 9
abcd fucker
write your answer of question 10 i
abcd fucker
['I', 'I', '', 'I', 'I', '', '', '', '', 'I']

In [ ]:
num =2
while True:
  num=num+1
  if num%2==0:
    continue
  print(num)

In [ ]:
try:
  for a in range(5):
    bii=input('printn a letter').upper()
except ValueError:
  print('just numbers fuckergjhhhh')

  #this not worked

printn a letter5
printn a letter5
printn a letter55
printn a letter
printn a letter

In [ ]:
#this can work
while True:
  try:
    number=int(input('wrte a numebr '))
    break
  except ValueError:
    print('upp ')
#gess

aples2=[]
aples=['y','a','s','d','v','b']
for a in range(5):
  myaples=input('write your aplle')
  if  myaples in aples:
    aples2.append(myaples)
  else:
    print('your aple fuck ')


print(aples2)


#im right on (end start if) but the code use while

wrte a numebr 5
write your aplle5
your aple fuck
write your aplle5
your aple fuck
write your aplle5
your aple fuck
write your aplle5
your aple fuck
write your aplle5
your aple fuck
[]

In [ ]:
#this is the new try
listAns=['A','B','C','D']
AnsEst=[]
for a in range(1,11):
  #EstNote=str(input('write A,B,C,D note ')).upper()
  while True:
    EstNote=str(input('write A,B,C,D note ')).upper()
    try:
      for b in listAns:
        if b==EstNote:
          AnsEst.append(EstNote)
          break
    except ValueError:
      print(' just abcd asnwer' )
print(AnsEst)

#nope infinite

write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6
write A,B,C,D note 6

KeyboardInterrupt: Interrupted by user

 ** THIS IS THE SOLUTION OF A VERY DIFICULT PROBLEM **

In [ ]:

listAns = ['A', 'B', 'C', 'D']
AnsEst = []

for a in range(1, 11):
    while True:
      EstNote = input('write A, B, C, D note: ').upper()
      if EstNote in listAns:
        AnsEst.append(EstNote)
        break  # valid input → exit while loop
      else:
        print('Invalid answer. Just A, B, C, or D.')

print(AnsEst)

write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note: a
write A, B, C, D note: b
write A, B, C, D note: b
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note: b
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note: b
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note:
Invalid answer. Just A, B, C, or D.
write A, B, C, D note: b
write A, B, C, D note: b
write A, B, C, D note: b
write A, B, C, D note: b
write A, B, C, D note: b
['A', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B']

In [ ]:
#fixing the error of my knowledge
#elements on lists
invebtios

An e-commerce company is interested in analyzing the sales of its products. The sales data has been stored in a dictionary:Write code that calculates the total sales and the best-selling product.

In [ ]:
tsales={'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}
tosell=0
besseval=0
for values in tsales.values():
  if values>besseval:
    besseval=values
  print(values)
#summign up values:
for values in  tsales.values():
  tosell=values+tosell



#using list comprehention
bessepro=[key for key,value in tsales.items() if value==besseval ]

print(f' the more sold value is {besseval} with its value {bessepro} and the total sell is {tosell}')

300
80
60
200
250
30
 the more sold value is 300 with its value ['Producto A'] and the total sell is 920

In [ ]:
#i dont remember the suming elements in a list
numbers=[1,2,3,2,1,4,5,6]
sumit=0
for a in numbers:
  sumit=a+sumit
print(sumit)

24

12 - A market survey was conducted to decide which children's brand design is most attractive to kids. The survey votes can be seen below:

Brand Vote Table
Design 1 – 1334 votes
Design 2 – 982 votes
Design 3 – 1751 votes
Design 4 – 210 votes
Design 5 – 1811 votes

Adapt the provided data to a dictionary structure. From that, report the winning design and the percentage of votes it received.

In [ ]:

surveydic={'Design 1':1334,
           'Design 2':982,
           'Design 3':1751,
           'Design 4':210,
           'Design 5':1811}
#winig desing  list comprehentioin but not worked
windeval=0
winnerval=0
#windesing = [values for values in surveydic.values() if values>windeval ]
#sum of votes
for a in surveydic.values():
  windeval=a+windeval

#the greatest
for a in surveydic.values():
  if a>winnerval:
    winnerval=a

#liscompre for the winning design
windes=[key for key,values in surveydic.items() if values==winnerval]
print(winner )
print(windeval)
print(windes)

#show the percentage in a new dic
survepercendic={}
for key,values in  surveydic.items():
  survepercen=float(values*(100/windeval))
  survepercendic[key]=survepercen
print(survepercendic)

1811
6088
['Design 5']
{'Design 1': 21.911957950065705, 'Design 2': 16.130091984231274, 'Design 3': 28.76149802890933, 'Design 4': 3.449408672798949, 'Design 5': 29.747043363994745}

13 - The employees of a department in your company will receive a 10% bonus on their salary due to the team’s excellent performance. The finance department has requested your help to verify the financial impact of this bonus on resources. You have been sent a list of the salaries that will receive the bonus:

[1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

Each employee’s bonus cannot be less than 200.
In the code, convert each salary into a key in a dictionary and the bonus for each salary into the corresponding value. Then, report the total spending on bonuses, how many employees received the minimum bonus, and what the highest bonus amount was.

In [ ]:
prices=[1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
salarydic={}
minbonusempl=0
highbonus=0
totalbonus=0
#construc the dic and the bonus
for a in prices:
  bonus=a/10
  #sum of bonus
  totalbonus=totalbonus+bonus
  #the high bonus
  if a>bonus:
    highbonus=a/10

  if bonus<200:
    salarydic[a]=200
    #number of 200 bonus emploies
    minbonusempl=minbonusempl+1
  else:
    salarydic[a]=bonus
   #^^ this is for the 200 condition


print(salarydic)
print(f'{minbonusempl} is the number of mininum bonus emploies, and the higher bonus is {highbonus} and the total bonus is {totalbonus}')

#bonus cannot be less than 200

for values in salarydic.values():
  if values<200:
    values=200
#this not worked ^
print(salarydic)

{1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8, 7685: 768.5, 7782: 778.2, 7903: 790.3}
2 is the number of mininum bonus emploies, and the higher bonus is 790.3 and the total bonus is 5969.4
{1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8, 7685: 768.5, 7782: 778.2, 7903: 790.3}

14 - A team of data scientists is studying biological diversity in a forest. The team collected information about the number of plant and animal species in each area of the forest and stored this data in a dictionary. In it, the key describes the area of the data, and the values in the lists correspond to the plant and animal species in those areas, respectively.
Also: Write code to calculate the average number of species per area and identify the area with the greatest biological diversity. Hint: use the built-in functions sum() and len().

In [ ]:
numspe={'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sur': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

#average number of species per area
avespec=0
maxnumspe=0
for values in numspe.values():
  avespec=values[1]+avespec
  if values[1]>maxnumspe:
    maxnumspe=values[1]
 #greatest biological diversity area^^
#area of greatest biological dicersity
areagrea=[ key for key,values in numspe.items() if values[1]==maxnumspe]
print(maxnumspe)
print(f'average number species is {avespec/5} and its area is {areagrea}')

49688
average number species is 23812.0 and its area is ['Área Oeste']